# NE JAMAIS COMITTER CE FICHIER Dans Git -> À mettre dans .gitignore -> ajouter cette ligne dans .gitignore:
# *.tfvars

# AWS:
access_key="ACCESS_KEY"
secret_key="SECRET_KEY"
saz_ip="MY_IP"
ec2_hostname="HOSTNAME"
app_name="APP_NAME"

# OVH:
endpoint      = "ovh-eu"
client_id     = "xxxxxxxxx"
client_secret = "yyyyyyyyy"